# gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.so
*.egg
*.egg-info/
*.manifest
*.spec
venv/
env/
nyc-311-rainfall-etl-env/
.venv/
.ipynb_checkpoints
*.ipynb
*.log
logs/
airflow_logs/
*.out
*.err
*.tmp
data/
*.csv
*.parquet
*.json
*.xlsx
credentials/
*.env
*.key
*.pem
*.p12
*.json
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
dist/
build/
*.egg-info/
pip-wheel-metadata/
/airflow.cfg
/airflow.db
/dags/__pycache__/
